<!DOCTYPE html>
<html>
    <body>
        <form action='/go' method='POST'>
            <input type='text' id='url' name='url' required> <label for='url'>Name to archive</label>
            <br>
            <input type='text' id='name' name='name' placeholder='reference name (optional)'> ex: <a href='http://a.iili.li/myarchivename'>http://a.iili.li/myarchivename</a>
            <br>
            <button type='submit'>
                Archive
            </button>
        </form>
    </body>
</html>
